@use "variables" as *;

header {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  background: $color-bg1;

  @media(min-width: $breakpoint-mobile) {
    grid-template-columns: auto 1fr;
  }

  ul {
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    text-align: center;

    @media(min-width: $breakpoint-mobile) {
      height: 100%;
      grid-auto-flow: column;
      justify-content: end;
    }
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    background: $color-bg2;

    &.active {
      color: $color-bg1;
      background: $color-bg3;
      font-weight: bold;
    }
  }

  a {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: inherit;

    &:hover {
      color: $color-bg1;
      background: $color-bg3;
    }
  }
}
