header {
  nav {
    color: white;
    display: flex;
    background: #333;
    flex-direction: column;

    @media (min-width: 600px) {
      align-items: center;
      flex-direction: row;
    }
  }

  a {
    color: inherit;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;

    &:first-child {
      border-bottom: 1px solid;

      @media (min-width: 600px) {
        border: none;
        flex: 1;
        text-align: left;
      }
    }

    &:hover,
    &:active,
    .current {
      color: black;
      background: white;
    }
  }
}

main {
  margin: 0;
  max-width: 80ch;

  @media (min-width: 600px) {
    margin: 0 0.5em;
  }

}
