{{ $file := .Get "file" }}
{{ $key := .Get "key" }}
{{ $headers := split (.Get "headers") "," }}
{{ $format := .Get "format" | default "" }}
{{ $data := index (readFile (printf "data/%s" $file) | unmarshal) $key }}
<table>
    <tr>
        {{ range $headers }}
            <th>{{ . }}</th>
        {{ end }}
    </tr>
    {{ range $row := $data }}
        <tr>
            {{ range $i, $cell := $row }}
                <td>
                    {{- if eq $i 0 -}}
                        {{- if eq $format "code" -}}
                            <code>{{ $cell }}</code>
                        {{- else -}}
                            {{ $cell }}
                        {{ end }}
                    {{- else -}}
                        {{ $cell }}
                    {{- end -}}
                </td>
            {{- end -}}
        </tr>
    {{ end }}
</table>